[submodule "api"]
	path = api
	url = https://github.com/jonasclaes/hlutir-api.git
[submodule "web"]
	path = web
	url = https://github.com/jonasclaes/hlutir-web.git
[submodule "database"]
	path = database
	url = https://github.com/jonasclaes/hlutir-database.git
[submodule "hlutir-common"]
	path = hlutir-common
	url = https://github.com/jonasclaes/hlutir-common.git
[submodule "common"]
	path = common
	url = https://github.com/jonasclaes/hlutir-common.git
[submodule "mqtt"]
	path = mqtt
	url = https://github.com/jonasclaes/hlutir-mqtt.git
